<div data-role="popup" id="map-record-popup">
    <div data-role="header" data-position="fixed" class="menu ui-header ui-bar-a ui-header-fixed slideup" >
        <h1 id="annotation-title">Text Annotation</h1>
    </div>
    <h3>
    </h3>
    <div id="map-record-popup-text">
    </div>

    <div data-role="footer">
        <div data-role="navbar">
            <ul class="ui-grid-a">
                <li class="ui-block-a saved-records-delete">
                <a href="#" data-role="button" data-icon="delete">Delete</a> 
                </li>
                <li class="ui-block-b" id="close-popup">
                <a href="#" data-role="button" data-icon="refresh">Close</a> 
                </li>
            </ul>
        </div>
    </div>
</div>
