<div data-role="popup" id="map-record-popup">
    <div data-role="header" data-position="fixed" class="menu ui-header ui-bar-a ui-header-fixed slideup" >
        <h1 id="annotation-title">Text Annotation</h1>
    </div>
    <h3>
    </h3>
    <div id="map-record-popup-text">
    </div>

    <div class="menu ui-footer ui-bar-a ui-footer-fixed slideup" data-role="footer">
        <div data-role="navbar">
            <ul class="ui-grid-a">
                <li class="ui-block-a" id="delete-annotation">
                <p>Delete</p>
                </li>
                <li class="ui-block-b" id="close-popup">
                <p>Close</p>
                </li>
            </ul>
    </div></div>
</div>
