<div id="gpscapture-page" class="map-page" data-role="page" data-theme="a">

  <!-- <div data-role="header" data-position="fixed"> -->
  <!--   <h1>Fieldtrip GB</h1> -->
  <!--   <div class="ui-header-buttons ui-btn-right" data-type="horizontal" > -->
  <!--     <a class="user-locate" -->
  <!--        data-role="button" -->
  <!--        data-inline="true" -->
  <!--        data-transition="none" -->
  <!--        data-iconpos="notext" -->
  <!--        data-shadow="false" -->
  <!--        data-iconshadow="false"> -->
  <!--     </a> -->
  <!--     <a href="search.html" -->
  <!--        class="map-search" -->
  <!--        data-role="button" -->
  <!--        data-inline="true" -->
  <!--        data-transition="none" -->
  <!--        data-iconpos="notext"> -->
  <!--     </a> -->
  <!--   </div> -->
  <!-- </div> -->
  {{header}}
  
  {% if body["page-header"]|length > 0 %}
  <div class="menu" data-role="navbar">
    <ul>
      {% for key, items in body["page-header"].iteritems() %}
      {% if items.keys()|length >0%}
      <li>
        <a {% for i, item in items["a"].iteritems()%} {%if i != "platforms" %}{{i}}="{{item}}" {% endif %}{% endfor %}>{{items["value"]}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div data-role="content">

    <div id="gpscapture-map" class="map"></div>

    <div class="map-zoom-buttons">
      <a data-role="button" class="map-zoom-button-in">+</a>
      <a data-role="button" class="map-zoom-button-out">-</a>
    </div>

    <div id="gpscapture-confirm-popup" data-role="popup">
      <p>Are you sure you want to save the track?</p>
      <div class="gsp-track-dialog-buttons" >
        <a id="gpscapture-confirm-save" data-role="button" href="#">Save</a>
        <a id="gpscapture-confirm-cancel"
           data-rel="back"
           data-role="button"
           href="#">Back</a>
        <a id="gpscapture-confirm-discard"
           data-role="button"
           href="#">Discard</a>
      </div>
    </div>
  </div>

  {{footer}}

</div>
