.gpstrack-running{
    background-image: url("images/gpsrunning.png");
    background-position: 2px 0;
    background-color: red !important;
}

#gpscapture-stop-button .ui-icon{
    background: url("images/stop.png") 50% 50% no-repeat;
    background-size: 20px 20px;
}

#gpscapture-pause-play .ui-icon{
    background: url("images/pause.png") 50% 50% no-repeat;
    background-size: 20px 20px;
}

#gpscapture-toggle-route .ui-icon{
    background: url("images/route.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

#annotate-gps-form{
    padding: 2em;
}

#annotate-gps-form .ui-grid-a{
    padding-top: 1em;
}

#annotate-gps-form .ui-block-a{
    text-align: center;
    width: 25%;
}

#annotate-gps-form .ui-block-b{
    text-align: center;
    width: 50%;
}
#annotate-gps-form .ui-block-c{
    text-align: center;
    width: 25%;
}

/* gps track colour chooser */
#annotate-gps-form .sp-preview{
    height: 3.5em;
    width: 3.2em;
}

.sp-palette .sp-thumb-el{
    height: 3em;
    width: 3em;
}

#gpscapture-page .map-zoom-buttons{
    top: 20%;
}

.gsp-track-dialog-buttons p{
    padding: 0.0em;
}
