.ui-header-buttons .gpstrack-running{
    background-image: url("images/gpsrunning.png");
    background-position: 2px 0;
    background-color: red !important;
}

.gpscapture-control.ui-icon-custom:after{
    border-radius: 0 !important;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.gpscapture-control.ui-icon-custom:after{
    margin-left: -10px;
    margin-top: 0;
}

#gpscapture-stop-button:after{
    background: url("images/stop.png") 50% 50% no-repeat;
}

#gpscapture-pause-play.pause:after{
    background: url("images/pause.png") 50% 50% no-repeat;
}

#gpscapture-toggle-route:after{
    background: url("images/route.png") 50% 50% no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
}

#gpscapture-pause-play.play:after{
    background: url("images/play.png") 50% 50% no-repeat;
}

#annotate-gps-form{
    padding: 2em;
}

#annotate-gps-form .ui-grid-a{
    padding-top: 1em;
}

#annotate-gps-form .ui-block-a{
    text-align: center;
    width: 25%;
}

#annotate-gps-form .ui-block-b{
    text-align: center;
    width: 50%;
}

#annotate-gps-form .ui-block-c{
    text-align: center;
    width: 25%;
}

/* gps track colour chooser */
#annotate-gps-form .sp-preview{
    height: 3.5em;
    width: 3.2em;
}

.sp-container .sp-palette .sp-thumb-el{
    height: 3em;
    width: 3em;
}

#gpscapture-page .map-zoom-buttons{
    top: 20%;
}

.gsp-track-dialog-buttons p{
    padding: 0.0em;
}
